<div>
  <a href="/node/add">Create new node</a>
</div>
<table>
{{range $index, $row := .}}
  <tr>
	<td><a href="/node/{{.Id.Hex}}">{{.Title}}</a></td>
	<td><a href="/node/edit/{{.Id.Hex}}">Edit</a></td>
	<td><a href="/node/remove/{{.Id.Hex}}">Delete</a></td>
  </tr>
{{else}}
<div>
  No nodes found. Please <a href="/node/add">create some</a>
</div>
{{end}}
</table>
<div>
  <a href="/node/add">Create new node</a>
</div>
