<form method="post">
  {{if .Id}}
  <input type="hidden" name="_id" value="{{.Id.Hex}}"/>
  {{end}}
  <label>Title</label>
  <input type="text" name="title" value="{{.Title}}"/>
  <label>Body</label>
  <textarea name="body">{{.Body}}</textarea>
  <input type="submit" value="Save"/>
</form>
